.wrapper___UXTJH {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  overflow: hidden;
}

  .wrapper___UXTJH .a-wrapper___25yHO {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .wrapper___UXTJH .b-wrapper___2XBlR {
    position: absolute;
    top: 0;
    left: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .wrapper___UXTJH.side-a___2Edwp .a-wrapper___25yHO {
      opacity: 1;
      transition: all 0.25s ease-in;
    }

  .wrapper___UXTJH.side-a___2Edwp .b-wrapper___2XBlR {
      pointer-events: none;
      opacity: 0;
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
      transition:
        opacity 0.15s ease-out,
        -webkit-transform 0.35s ease-in;
      transition:
        opacity 0.15s ease-out,
        transform 0.35s ease-in;
      transition:
        opacity 0.15s ease-out,
        transform 0.35s ease-in,
        -webkit-transform 0.35s ease-in;
    }

  .wrapper___UXTJH.side-b___2ZAP3 .a-wrapper___25yHO {
      opacity: 0;
      transition: all 0.1s ease-out;
    }

  .wrapper___UXTJH.side-b___2ZAP3 .b-wrapper___2XBlR {
      pointer-events: auto;
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      transition:
        opacity 0.27s cubic-bezier(0.6, 0.0, 1.0, 1.0),
        -webkit-transform 0.27s ease-out;
      transition:
        opacity 0.27s cubic-bezier(0.6, 0.0, 1.0, 1.0),
        transform 0.27s ease-out;
      transition:
        opacity 0.27s cubic-bezier(0.6, 0.0, 1.0, 1.0),
        transform 0.27s ease-out,
        -webkit-transform 0.27s ease-out;
    }
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.icon-wrapper___2Dwhd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 78px;
}

.btn-area___12A8h {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 78px;
  text-align: center;
  vertical-align: middle;
}

.btn___Aay9w {
  position: relative;
  display: inline-block;
  width: 116px;
  height: 47px;
  line-height: 47px;
  border: 2px solid #60897E;
  border-radius: 24px;
  color: #60897E;
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
}

.app___3etqx {
  width: 100%;
  padding: 60px;
  display: flex;
}

.playground___1kxvb {
  width: 80%;
  min-width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 20px;
  background: #EFEAE530;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0,0,0, 0.05);
}

.playground___1kxvb header {
    margin-bottom: 1em;
    color: #666;
    font-size: 16px;
    line-height: 2em;
  }

.player___3Y-el {
  width: 100%;
  height: 200px;
}

.player___3Y-el::before {
    content: '';
    display: block;
    width: 100%;
    border-top: 1px solid #ddd;
  }

.player___3Y-el .alter___fO5RM {
    margin: auto;
  }

.settings___2sTR1 {
  margin-left: 50px;
}

.settings___2sTR1 header {
    color: #666;
    font-size: 20px;
    line-height: 2em;
  }
